<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shortcut icon" type="image/png" href="/public/favicon.png" />

  <title>
    <%= data.text.siteTitle %>
  </title>

  <link rel="stylesheet" href="/public/vendor/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/public/vendor/icons/font/bootstrap-icons.css" />
</head>

<body>
  <div id="app" class="container">
    <% include ("../helper") %>
    <%- include("../" + child, {data: data}); %>
  </div>
  <script src="/public/vendor/jquery/jquery.min.js"></script>
  <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/vendor/chart.js/Chart.bundle.min.js"></script>
  <script src="/public/js/auth.js"></script>
  <%- include("../" + clientScript, {data: data}); %>
</body>

</html>